
<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    

.bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity: 0.65;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  .bgimg-1 {
    background-image: url("./assets/images/sachin.jpg");
    height: 100%;
  }
</style>
</head>
<body>

<div class="bgimg-1" class="container center vertically-center">
    <div class="main">
        <a href="#/home"><h1 class="logo title">Vignesh Sankaranarayanan</h1></a>
        <div class="pages">
            <a href="#/coding" class="button coding">Coding</a>
            <a href="#/experience" class="button experience">Experience</a>
            <a href="#/blog" class="button blog">Blog</a>
        </div>
        <div class="social">
            <a class="button github" href="https://github.com/vignesh-sankaranarayanan"><i class="fa fa-github"></i></a>
            <a class="button linkedin" href="https://www.linkedin.com/in//vignesh-sankaranarayanan-8a724293/"><i class="fa fa-linkedin"></i></a>
            <a class="button email" href="mailto:vignesh.sankaranarayanan87@gmail.com"><i class="fa fa-envelope"></i></a>
        </div>
    </div>
</div>
</body>
</html>